<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalsurmitapp">

    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Location Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- Required for Google Maps -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FinalSurmitApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Google Maps API KEY -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBTzcHFv78SYN7x6U9UWv22nnfAV5uvHPk"/>

        <!-- Splash Screen -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <!-- Registration -->
        <activity android:name=".RegistrationActivity"/>

        <!-- Login -->
        <activity android:name=".MainActivity"/>

        <!-- OTP Verification -->
        <activity android:name=".OtpActivity"/>

        <!-- Dashboard -->
        <activity
            android:name=".DashboardActivity"
            android:exported="false"/>

    </application>

</manifest>